**Guiding question: How expensive are local food businesses?**

This notebook is where we will fetch all the Yelp data. If you haven't already, please watch this [short introduction](https://www.youtube.com/watch?v=jZ952vChhuI) to the Jupyter Notebook.

Read through this code, and its documentation, carefully.

In [ ]:
# First we import the libraries we'll need for this analysis:
# requests is used to make HTTP requests and get data back from the Yelp API's endpoints
import requests

In [ ]:
# Define the constants we will be using, like the API endpoint and your API key:
YELP_ENDPOINT = 'https://api.yelp.com/v3/graphql'

# Replace my API key with yours
API_KEY = 'tyTF9Kd4pavZvr124_WJkrJnkFNFjeJwMH0FOelrNtuCKxdAk6I3TknvLJrPNZ-XyXtPjfO4XAx4RTM-yrk7QlP5NVeZC5LJ5EMObtYLemUZANyIr9mjEwITYeCPXXYx'

# Pro tip: Constants are usually named LIKE_THIS. Regular variables are usually named like_this.

The function in the next cell, `request_data`, accepts a GraphQL query string as its argument. The function asks the Yelp GraphQL endpoint for data using that query string, and then it returns the data that was received.

In [ ]:
def request_data(query_string):
    # Ask the Yelp API to get us this data based on the query_string
    response = requests.post(
        url = YELP_ENDPOINT,
        data = { 'query': query_string },
        headers = { 'Authorization': 'Bearer ' + API_KEY }
    )
    return response.json() # Extracts the response's JSON content as a dictionary

The next cell provides an example of how to use this function.

Note: The `%` operator in the `example_query_string` below substitutes the `%d` placeholder with the value of the `example_offset` variable. Formatting strings by substituting variables is called _string interpolation_. The `f'...'` string in the first `print` statement is another way to interpolate strings.

In [6]:
example_offset = 20
example_query_string = """
{
    search(location: "70 Morningisde Drive", offset: %d) {
        total
        business {
            phone
            price
            name
            coordinates {
              longitude
              latitude
            }
        }
    }
}
""" % example_offset

data = request_data(example_query_string)
total_num_results = data['data']['search']['total']
businesses = data['data']['search']['business']

print(f'There are {total_num_results} total businesses. We received {len(businesses)}:')
businesses

There are 1304 total businesses. We received 20:

[{'phone': '+12128664500',
  'price': '$$',
  'name': 'Harlem Tavern',
  'coordinates': {'longitude': -73.95558, 'latitude': 40.8046999}},
 {'phone': '+12126652800',
  'price': '$$',
  'name': 'Community Food & Juice',
  'coordinates': {'longitude': -73.9656753540039,
   'latitude': 40.8057975769043}},
 {'phone': '+12128664230',
  'price': '$',
  'name': 'Hungarian Pastry Shop',
  'coordinates': {'longitude': -73.96365, 'latitude': 40.80358}},
 {'phone': '+16469284870',
  'price': '$$',
  'name': 'Sottocasa Pizzeria - Harlem',
  'coordinates': {'longitude': -73.947547, 'latitude': 40.805587}},
 {'phone': '+12122222636',
  'price': '$',
  'name': 'Doaba Deli',
  'coordinates': {'longitude': -73.9624, 'latitude': 40.7994}},
 {'phone': '+12126630505',
  'price': '$$',
  'name': 'Massawa',
  'coordinates': {'longitude': -73.95856, 'latitude': 40.8099}},
 {'phone': '+12128703070',
  'price': None,
  'name': 'Riverside Park Conservancy',
  'coordinates': {'longitude': -73.9638738, 'latitude': 40.8111312}},
 {'phone': '+12126628462',
  'price': '$$',
  'name': 'VINATER√çA',
  'coordinates': {'longitude': -73.9540110111145,
   'latitude': 40.8064392068585}},
 {'phone': '+16469644252',
  'price': '$$',
  'name': 'Safari Restaurant NYC',
  'coordinates': {'longitude': -73.9535, 'latitude': 40.80381}},
 {'phone': '+12123167540',
  'price': None,
  'name': 'Cathedral Church of St John the Divine',
  'coordinates': {'longitude': -73.9631203, 'latitude': 40.8037049}},
 {'phone': '+18336982267',
  'price': '$$',
  'name': 'Cantina Taqueria & Tequila Bar',
  'coordinates': {'longitude': -73.9549569049235,
   'latitude': 40.8003063353508}},
 {'phone': '+19174936633',
  'price': '$',
  'name': "Lee Lee's Baked Goods",
  'coordinates': {'longitude': -73.95408, 'latitude': 40.8057}},
 {'phone': '+12126620620',
  'price': '$$',
  'name': 'Zoma',
  'coordinates': {'longitude': -73.956537, 'latitude': 40.802258}},
 {'phone': '+12125315300',
  'price': '$$',
  'name': 'Cafe at Apollo',
  'coordinates': {'longitude': -73.95013, 'latitude': 40.80991}},
 {'phone': '+12122895895',
  'price': '$$$',
  'name': 'Ricardo Steak House',
  'coordinates': {'longitude': -73.940475679068,
   'latitude': 40.7934520370731}},
 {'phone': '+12126622030',
  'price': '$$',
  'name': '67 Orange Street',
  'coordinates': {'longitude': -73.9567852020264,
   'latitude': 40.8022697271481}},
 {'phone': '+12122802248',
  'price': '$$',
  'name': 'B2 Harlem',
  'coordinates': {'longitude': -73.95317, 'latitude': 40.80613}},
 {'phone': '+12122220259',
  'price': '$$',
  'name': 'Crepes on Columbus',
  'coordinates': {'longitude': -73.96178, 'latitude': 40.80104}},
 {'phone': '+12128371057',
  'price': '$$',
  'name': 'Serengeti Teas & Spices',
  'coordinates': {'longitude': -73.94127, 'latitude': 40.80582}},
 {'phone': '+12122221566',
  'price': '$',
  'name': 'Koronet Pizza',
  'coordinates': {'longitude': -73.966056, 'latitude': 40.80442}}]

Now it's your turn: Use the `request_data` function to get all the businesses up to some total number. In the next two cells, I've provided some code snippets you might find helpful:

1. While loops and string interpolation, which will help you generate query strings and get data from the API
2. Adding lists together, which will help you aggregate all the businesses you get into one big list

In [9]:
LIMIT = 20 # The number of business results that are returned in one API call

total_businesses = 200 # It's not 200! You have to change this total number based on the first request you make
offset = 0 # The initial offset.

while offset < total_businesses:        
    print(f'The offset is now {offset}.')
    offset += LIMIT

The offset is now 0.
The offset is now 20.
The offset is now 40.
The offset is now 60.
The offset is now 80.
The offset is now 100.
The offset is now 120.
The offset is now 140.
The offset is now 160.
The offset is now 180.

In [10]:
all_businesses = []
some_data = [1, 2]
more_data = [3, 4, 5]
print('The sum of all_businesses, some_data, and more_data is:')
print(all_businesses + some_data + more_data)

The sum of all_businesses, some_data, and more_data is:
[1, 2, 3, 4, 5]